<form id="input-form" action="index.php" method="post"><table>

    <div id="error-block" tpl-if="$errors"><span tpl-foreach="$errors as $error">{{ $error }}</span></div>

    <input type="hidden" name="id" value="{{ $id }}">
    <input type="hidden" name="cmd" value="{{ $cmd }}">
    <input type="hidden" name="isEditForm" value="{{ $isEditForm }}">
    <tr>
        <th class="label-cell">{{ $firstCell }}:</th>
        <td class="input-cell"><label>
            <tpl tpl-if="$isBookForm">
                <input type="text" name="title" value="{{ $title }}">
            </tpl>
            <tpl tpl-if="$isAuthorForm">
                <input type="text" name="firstName" value="{{ $firstName }}">
            </tpl>
        </label> <br></td>
    </tr>
    <tr>
        <th class="label-cell">{{ $secondCell }}:</th>
        <td class="input-cell"><label>
            <tpl tpl-if="$isBookForm">
                <select id="author1" name="author1">
                    <option value=""></option>
                    <tpl tpl-foreach="$authors as $author">
                        <option value="{{ $author->id }}" tpl-selected="$author->id === $author1" >{{ $author->firstName }} {{ $author->lastName }}</option>
                    </tpl>
                </select>
            </tpl>
            <tpl tpl-if="$isAuthorForm">
                <input type="text" name="lastName" value="{{ $lastName }}">
            </tpl>
        </label> <br></td>
    </tr>

    <tr>
        <th class="label-cell">Hinne:</th>
        <td class="input-cell">
            <tpl tpl-foreach="range(1, 5) as $grade">
                <label for="grade{{ $grade }}">{{ $grade }}</label>
                <input type="radio"
                       id="grade{{ $grade }}"
                       name="grade"
                       tpl-checked="$grade == $gradevalue"
                       value="{{ $grade }}">
            </tpl>
        </td>
    </tr>

    <tpl tpl-if="$isBookForm">
        <tr>
            <th class="label-cell"><label>Loetud:</label></th>
            <td class="input-cell"><label><input type="checkbox" name="isRead" tpl-checked="$isReadValue"></label></td>
        </tr>
    </tpl>

    <tr>
        <th></th>
        <td class="input-cell button">
            <label><input type="submit" name="submitButton" value="Salvesta"></label>
            <label><input type="submit" name="deleteButton" value="Kustuta" tpl-if="$isEditForm"></label>

        </td>
    </tr>

</table></form>