<table>

    <div id="message-block" tpl-if="$_GET['message']">{{ $_GET['message'] }}!</div>

    <tr>
        <th class="header1">{{ $header1 }}</th>
        <th class="header2">{{ $header2 }}</th>
        <th class="header3">Hinne</th>
    </tr>
    <tpl tpl-if="$books">
        <tpl tpl-foreach="$books as $book">
            <tr>
                <td><a href="?cmd=book-edit&id={{ $book->id }}">{{ $book->title }}</a></td>
                <td>{{ $book->author->firstName }} {{ $book->author->lastName }}</td>
                <td>{{ $book->grade }}</td>
            </tr>
        </tpl>
    </tpl>

    <tpl tpl-if="$authors">
        <tpl tpl-foreach="$authors as $author">
            <tr>
                <td><a href="?cmd=author-edit&id={{ $author->id }}">{{ $author->firstName }}</a></td>
                <td>{{ $author->lastName }}</td>
                <td>{{ $author->grade }}</td>
            </tr>
        </tpl>
    </tpl>
</table>