<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>ICD0007 projekt</title>
</head>
<body>

<nav class="header">
    <a href="?cmd=book-list" id="book-list-link">Raamatud</a>
    <span>|</span>
    <a href="?cmd=book-form" id="book-form-link">Lisa raamat</a>
    <span>|</span>
    <a href="?cmd=author-list" id="author-list-link">Autorid</a>
    <span>|</span>
    <a href="?cmd=author-form" id="author-form-link">Lisa autor</a>
</nav>

<main tpl-include="{{ $template }}"></main>

<footer>ICD0007 Näidisrakendus</footer>

</body>
</html>