body {
    margin: 0 auto;
    font-family: arial, sans-serif;
    max-width: 50rem;
    min-width: 30rem;
}

nav span a {
    background-color: darkred;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

a:hover, input[type='submit']:hover {
    background-color: darkred;
}


.header, #error-block, #message-block {
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border: 2px solid black;
    font-weight: bold;
}

#error-block {
    background-color: darkred;
    color: white;
}

#message-block {
    background-color: mediumseagreen;
    color:white;
    width: 50%;
    margin: 0 auto;
}


.header {
    background-color: chocolate;
}

footer {
    background-color: chocolate;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    font-weight: bolder;
    border: 2px solid black;
}

#input-form {
    margin: 0 auto;
    width: 30rem;

}

#input-form .label-cell {
    width: 30%;
    text-align: right;
}

#input-form .input-cell {
    width: 70%;
}



.header1 {
    width: 35%;
    text-align: left;
}

.header2 {
    width: 50%;
    text-align: left;
}

.header3 {
    width: 15%;
    text-align: left;
}

table {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

th, td {
    padding: 0.5rem;
}

input[type='submit'] {
    width: 7rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem;
    border: 2px solid black;
    background-color: chocolate;
    border-radius: 0.5rem;
}

